body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

#navbar {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: right;
}

#navbar a {
    color: rgba(0,0,0,0.87);
    display: block;
    padding: 15px 15px 0 15px;
    text-align: center;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar-apps-icon {
    fill: #5f6368;
    float: right;
    height: 24px;
    margin: 10px;
    opacity: 1;
    weight: 24px;
}

#navbar-signin-button {
    background: #1a73e8;
    border-radius: 4px;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    float: right;
    font-family: Arial;
    font-weight: 500;
    letter-spacing: .25px;
    margin: 5px 15px 0 15px;
    padding: 9px 23px;
    width: 95px;
}

#navbar-signin-button:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

#google-logo {
    display: block;
    margin: 203px auto 25px auto;
}

#search-bar-container {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    display: flex;
    height: 44px;
    margin: 0 auto;
    max-width: 584px;
    width: auto;
}

#search-bar-container:hover {
    background-color: #fff;
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search-bar-icon {
    fill: #9aa0a6;
    height: 20px;
    margin: 10px 10px 10px 20px;
    width: 30px;
}

#search-bar-input {   
    border: none;
    font-size: 16px;
    height: 34px;
    margin: auto 30px 5px 0px;
    outline: none;
    width: 500px;
}

#search-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

.search-button {
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    cursor: pointer;
    font-family: arial;
    height: 36px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 16px;
}

.search-button:hover {
	border: 1px solid #dadce0;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: #202124;
}

#search-note {  
    color: #5f5f5f;
    display: flex;
    font-size: 12px;
    font-style: italic;
    justify-content: center;
    margin-top: 50px;
}

#footer ul {
    border-top: 1px solid #dddddd;
    bottom: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
}

#footer li {
    float: left;
}

#footer-right li {
    float: right;
}

#footer li a {
    color: #70757a;
    display: block;
    padding: 15px;
    text-decoration: none;
}

#footer li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    #footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}