#search-bar-container {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    display: flex;
    height: 44px;
    margin: 0 auto;
    max-width: 584px;
    width: auto;
}

#search-bar-container:hover {
    background-color: #fff;
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search-bar-input {   
    border: none;
    font-size: 16px;
    height: 34px;
    margin: auto;
    outline: none;
    width: 500px;
}

#google-logo {
    display: block;
    margin: 250px auto 25px auto;
}